.facilitator {
  margin: 60px 0;
}

.facilitator h1 {
  text-align: center;
}

.facilitator p {
  margin: 30px auto 0;
  text-align: center;
  width: 576px;
}

.facilitator-card-wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-top: 60px;
}

.facilitator-card {
  background-color: #b6b6b6;
  border-radius: 6px;
  height: 320px;
}
